@media screen and (max-width:1000px) {
    main {
        padding: 0;
        text-align: center;
    }

        main #main_wrapper {
        display: inline-grid;
        text-align: left;
    }

    .main_window {
        margin: 0.5em;
        border-radius: 22px;
        padding: 1em;
        text-align: left;
    }
    .main_window h2 {
        margin: 0;
    }
}